# =======================
# STM32CubeIDE / Eclipse
# =======================

# Eclipse workspace metadata 
.metadata/
.settings/
.cproject
.project

# Log files
*.log

# Launch configurations 
*.launch

# =======================
# Build output
# =======================

# Các thư mục build của CubeIDE
Debug/
Release/

# Các file object / build trung gian
*.o
*.d
*.su
*.map

# Các file binary xuất ra
*.elf
*.bin
*.hex
*.axf
*.lst
*.list

# =======================
# Proteus / STM32 backup
# =======================
*.pdsbak
*.pdsprj~
Backup Of *

# =======================
# OS-specific
# =======================
.DS_Store
Thumbs.db